@model HomeModel
@{
    ViewData["Title"] = "Register Candidates Page";
}

<head>
    <link rel="stylesheet" href="" />
</head>

<div class="row">
    <div class="container justify-content-between align-item-center">
        <h1 class="display-4 text-info welcome">Welcome,</h1>
        <span class="fs-2 text-dark">Here you can register your candidates.</span>
    </div>
    <div class="col-md-6 d-flex justify-content-center align-items-center">
        <img src="" alt="" srcset="">
        <h1></h1>
    </div>
</div>
